* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.head {
    height: 15vh;
    font-size: 40px;
    background: linear-gradient(135deg, #2c3e50, #4b79a1);
    display: flex;
    align-items: center;
    font-family: "Lucida Handwriting", cursive, sans-serif;
    padding-left: 2rem;
    text-shadow: 2px 2px 4px rgba(201, 201, 201, 0.3);
    font-weight: bolder;
}



.box {
    display: grid;
    grid-template-columns: 20% 80%;
}

.proj-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-project,
.add-task {
    width: 50px;
    /* Set the width of the button */
    height: 50px;
    /* Set the height of the button */
    border-radius: 50%;
    /* Makes the button circular */
    border: none;
    /* Optional: Remove default border */
    background-color: #4CAF50;
    /* Set background color */
    color: white;
    /* Set text color */
    text-align: center;
    /* Center the text */
    font-size: 30px;
    /* Set font size */
    cursor: pointer;
    /* Change cursor on hover */
    display: inline-block;
    /* Ensures it behaves like a button */
    line-height: 50px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.add-project:hover,
.add-task:hover {
    transform: rotate(90deg);

}

.project {
    background: linear-gradient(135deg, #192a3d, #304e7a);
    min-height: 85vh;
    border-top-left-radius: 20px;
    /* Adjust the radius value as needed */
    border-bottom-right-radius: 20px;
    /* Adjust the radius value as needed */
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.project h2,
.task h2 {
    font-size: 30px;
    padding: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.task {
    background: linear-gradient(135deg, #0f1d2b, #2c3e50);

    min-height: 85vh;
}


.taskDialog,
.projectDialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.taskForm,
.projectForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-title h2,
.proj-title h2 {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(213, 213, 213, 0.5);
}

.cont {
    display: flex;
    flex-direction: column;
}

.taskForm label,
.projectForm label {
    font-weight: bold;
}

.taskForm input,
.taskForm select,
.projectForm input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.taskForm .button,
.projectForm .button {
    display: flex;
    justify-content: space-between;
}

.submitbtn,
.closebtn,
.projectClosebtn,
.projectSubmitbtn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.closebutton,
.projectClosebutton {
    display: flex;
    justify-content: end;
}

.submitbtn,
.projectSubmitbtn {
    background-color: #4CAF50;
    color: white;
}

.closebtn,
.projectClosebtn {
    background-color: #f44336;
    color: white;
}

/* JavaScript-injected styles for dropdown */
.priority-dropdown {
    background-color: white;
}

/* Custom styles for priority options */
select#priority option[value="low"] {
    background-color: lightgreen;
    color: green;
}

select#priority option[value="medium"] {
    background-color: lightyellow;
    color: orange;
}

select#priority option[value="high"] {
    background-color: lightcoral;
    color: red;
}


.checked {
    background-color: #f2f2f2;
    /* Lighter color */
    text-decoration: line-through;
    /* Line-through text */
}

ul {
    margin: 0;
    padding: 0;
}

.projectItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    margin-top: 20px;
    background-color: white;
    gap: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projectList {
    padding: 20px;
}

.taskItem {

    display: grid;
    grid-template-columns: 20px 100px 1fr 80px 80px 50px 50px;
    list-style: none;
    padding: 1rem;
    margin-top: 20px;
    background-color: white;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.deleteTask,
.editTask,
.deleteProject,
.editProject {
    border: none;
    border-radius: 100px;
    background-color: #4a77b9;
    width: 35px;
    height: 35px;
}


.taskList {
    padding: 20px;
}


button {
    cursor: pointer;
}